
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    
    <title>Document</title>
</head>
<body>


{{>navbar}}
<div class="container-fluid navbar-style py-3" >
<div class ="row">
    <div class="col-md-10 col-12 mx-auto">

    <div class="row">
 
<div class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center align-items-start flex-column">
<h1>WE WILL HELP YOU TO</h1>
<h1>    GROW YOUR BUSINESS</h1>
<p>We Are The Team Of<span class="bold-style"> Professional Developer</span></p>
<button class="btn-style btn-primary">Read Mode</button>
</div>
<div class="col-md-6 col-12 hero-text order-md-1 order-0">
 <figure>
    <img src="growth.svg"alt="herosection image">
 </figure>
</div>

    </div>
</div>
</div>
</div>

{{!-- right
 --}} 
{{!-- 
 <div class="container-fluid mt-5 about-style" id="aboutid">
<div class ="row">
    <div class="col-md-10 col-12 mx-auto">
<h1 class ="text-center main-heading">About Us</h1>
<p  class ="text-center sub-heading">grow your business with us</p>
    <div class="row">
 <div class="col-md-6 col-12 hero-text">
 <figure>
    <img src="about.svg"alt="herosection image">
 </figure>
</div>
<div class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center align-items-start flex-column">
<h1>WE ARE THE PROFESSIONAL DEVELOPER</h1>
<h1>    GROW YOUR BUSINESS</h1>
<p>Welcome To<span class="bold-style"> Professional Developer</span>
, Your Number One Source For All Things. We are Dedicated to Giving You the very Best of work, with A focus on </p>
<button class="btn-style btn-primary">Read Mode</button>
</div>


</div>
    </div>
</div>
</div> --}}


{{>about}}


{{>service}}
{{!-- service
 --}}
{{>maps}}


{{>contact}}
    <script scr="../jq/jquery.js" type="text/javascript"></script>
     <script scr="../js/bootstrap.js" type="text/javascript"></script>
</body>
</html>

