<section>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1837636.8591845974!2d84.4875296922169!3d25.89794896193288!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39ed5844f0bb6903%3A0x57ad3fed1bbae325!2sBihar!5e0!3m2!1sen!2sin!4v1682932438767!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade ">
    </iframe>
</section>